.video {
  display: flex;
  justify-content: center;
  margin-top: 7%;
  margin-bottom: 7%;
}
video {
  max-width: 50%;
  max-height: 50%;
}

body {
  background-color: rgb(87, 96, 96);
  border: 4px solid;
  border-style: inset;
  border-radius: 20px;
}

h1 {
  text-align: center;
  border: 4px solid;
  border-style: inset;
  margin-top: 25px;
  margin-left: 3cm;
  margin-right: 3cm;
}
