div {
  display: inline-block; /*this property allows an element to display an an inline element [elements which occupy necessary space]
  and block level element [elements which tales up the full width of its parent container] at the same time. basically displaying
   block level elements as inline */
  font-family: sans-serif; /*sets the font family for div tag*/
  font-size: 20px; /*sets the font size for div tag*/
  margin: 25px; /*sets the margin for div tag*/
  border: 4px solid black; /*sets the border for div tag*/
  line-height: 100px; /*this property is used to set the vertical spacing between lines of text within a block level element*/
  text-align: center; /*alligns the text to the center for div tag*/
  width: 200px; /*sets the width of div tag*/
  height: 200px; /*sets the height of div tag*/
}

body {
  margin: 100px auto; /*sets the margin for body tag*/
  width: max-content; /*sets the width of body tag*/
}
